ion-content.background {
    --background: url(/assets/web/background_home.jpg) 0 0/100% 100% no-repeat;
  }

ion-item.data_primero {
  margin: 100px 20px 0px;
}

ion-item.data {
  margin: 50px 20px;
}

ion-button.reg_button {
  margin: 100px 20px 0px;
}