<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title><b>Registrar</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registrar</ion-title>
    </ion-toolbar>
  </ion-header>

  <form action="">
    <ion-item class="data_primero">
      <ion-input label="Nombre" labelPlacement="floating"  type="text" name="nombre" aria-required="true"></ion-input>
    </ion-item>
  
    <ion-item class="data">
      <ion-input label="Apellidos" labelPlacement="floating"  type="text" name="apellidos" aria-required="true"></ion-input>
    </ion-item>
  
    <ion-item class="data">
      <ion-input label="Teléfono(Móvil)" labelPlacement="floating"  type="tel" name="movil" aria-required="true"></ion-input>
    </ion-item>

    <ion-item class="data">
      <ion-input label="Contraseña" labelPlacement="floating"  type="password" name="contrasena" aria-required="true"></ion-input>
    </ion-item>

    <ion-button class="reg_button" type="submit" expand="full">Registrar</ion-button>
  </form>

</ion-content>
