<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DCuba
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div>
      <h1 class="centered-text">BOLITERO</h1>
    </div>
  
    <div id="container">
      <div>
        <h1>Que empieze el juego!!!</h1>
      </div>
      <img class="home_image" src="../../../assets/web/photo_2023-08-10_13-25-20.jpg" alt="inicio" width="300px" height="250px">
    </div>
  
    <a class="boton-footer" [routerLink]="[ '/login']"><ion-button class="boton-empezar" expand="block">Empezar</ion-button></a>

  
</ion-content>
