<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><b>Jugadas</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">jugadas</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>

  <div style="text-align: center;">
    <ion-datetime-button disabled="true" datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
    <br>
    
    <ion-checkbox [(ngModel)]="opcion1" (ionChange)="opcion1Changed()"><b>Mediodia</b></ion-checkbox>
    
    <ion-checkbox  [(ngModel)]="opcion2" (ionChange)="opcion2Changed()"><b>Noche</b></ion-checkbox>

  </div>
  <br>

  <div style="margin: 20px;">
    <h4 style="text-align: center"><b>Validacion de las Jugadas:</b></h4>
    <ion-grid>
      <ion-row>
        <ion-col><b>Telefono</b></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div style="display: flex;">
            <ion-input class="campos" [(ngModel)]="movillUser.telefono" label="Telefono" labelPlacement="floating"  type="tel" name="telefono" aria-required="true" fill="solid"></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br>

  <form>

    <div style="margin: 20px;">
      <h4 style="text-align: center"><b>Numeros fijos:</b></h4>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label ><b>Numero</b></ion-label>
            <br><br>
            <ion-input class="campos-numero" [(ngModel)]="jugadasNormales.numero" label="00" labelPlacement="floating" type="text" name="numero" aria-required="true" fill="solid"></ion-input>
          </ion-col>
          
          <ion-col>
            <ion-label ><b>Fijo</b></ion-label>
            <br><br>
            <ion-input class="campos-numero-importe" [(ngModel)]="jugadasNormales.dinero_fijo" label="$0.00" labelPlacement="floating" type="number" name="fijo" aria-required="true" fill="solid"></ion-input>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      <ion-button class="ini_button" (click)="JugadaNormal()" expand="full">Enviar Jugadas Normales</ion-button>
    </div>

    <div style="margin: 20px;">
      <h4 style="text-align: center"><b>Numeros Corridos:</b></h4>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label ><b>Numero</b></ion-label>
            <br><br>
            <ion-input class="campos-numero" [(ngModel)]="jugadasCorridas.numero1" label="00" labelPlacement="floating" type="text" name="numero" aria-required="true" fill="solid"></ion-input>
          </ion-col>
          
          <ion-col>
            <ion-label ><b>Corrido</b></ion-label>
            <br><br>
            <ion-input class="campos-numero-importe" [(ngModel)]="jugadasCorridas.dinero_corrido" label="$0.00" labelPlacement="floating" type="number" name="fijo" aria-required="true" fill="solid"></ion-input>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      <ion-button class="ini_button" (click)="JugadaCorrido()" expand="full">Enviar Jugadas de Corridos</ion-button>
    </div>
  
    <div style="margin: 20px;">
      <h4 style="text-align: center"><b>Parles:</b></h4>
      <ion-grid>
        <ion-row>
          <ion-col><b>Numeros</b></ion-col>
          <ion-col><b>Jugada</b></ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-input class="campos" [(ngModel)]="jugadasParles.id_numero1" style="margin-right: 5px;" label="00" labelPlacement="floating"  type="number" name="numero" aria-required="true" fill="solid"></ion-input>
          </ion-col>
  
          <ion-col>
            <ion-input class="campos" [(ngModel)]="jugadasParles.id_numero2" label="00" labelPlacement="floating"  type="number" name="numero" aria-required="true" fill="solid"></ion-input>
          </ion-col>
  
          <ion-col>
            <ion-input class="campos" [(ngModel)]="jugadasParles.dinero" label="$0.00" labelPlacement="floating"  type="number" name="fijo" aria-required="true" fill="solid"></ion-input>
          </ion-col>
        </ion-row>
  
      </ion-grid>
      <ion-button class="ini_button" (click)="JugadaParle()" expand="full">Enviar Jugadas de Parles</ion-button>
    </div>
  
    <div style="margin: 20px;">
      <h4 style="text-align: center"><b>Centenas:</b></h4>
      <ion-grid>
        <ion-row>
          <ion-col><b>Centenas</b></ion-col>
          <ion-col><b>Numero</b></ion-col>
          <ion-col><b>Jugada</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div style="display: flex;">
              <ion-input class="campos" [(ngModel)]="jugadasCentenas.id_numero" style="margin-right: 5px;" label="0" labelPlacement="floating"  type="number" name="numero" aria-required="true" fill="solid"></ion-input>
              <ion-input class="campos" [(ngModel)]="jugadasCentenas.numero" style="margin-right: 5px;" label="00" labelPlacement="floating"  type="number" name="numero" aria-required="true" fill="solid"></ion-input>
              <ion-input class="campos" [(ngModel)]="jugadasCentenas.dinero" label="$0.00" labelPlacement="floating"  type="number" name="numero" aria-required="true" fill="solid"></ion-input>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button class="ini_button" (click)="JugadaCentenas()" expand="full">Enviar Jugada de Centena</ion-button>
    </div>
  
  </form>

</ion-content>
