ion-content.background {
    --background: url(/assets/web/background_home.jpg) 0 0/100% 100% no-repeat;
}

ion-item-divider.divisores {
    --background: url(/assets/web/background_home.jpg) 0 0/100% 100% no-repeat;
}

ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: #6815ec;
    margin: 10px 20px 10px 20px;
}
  
ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
}

ion-label.titulos-menores {
    font-size: 20px;
}

.ini_button {
    padding: 20px;
}

.ini_button:host{
    --border-radius: 20px;
}

button.button-naive:host(.button-full:not(.button-round)) .button-native{
    border-radius: 20px;
}